/* ----------------------------------------------------------------------------
    Project Styles
----------------------------------------------------------------------------- */
html {
    min-height: 100%;
    position: relative;
}
body {
    font-family: 'Open Sans', 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    color: #E87363;
    background: #FDFCFA;
    background-image: url(../images/us-map.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    overflow-y: scroll;
}
.container {
    max-width: 1200px;
}
.container-fluid.but-fixed {
    max-width: 1230px;
}
@keyframes blink {
    10% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity:1 }
}
#header-wrapper {
    overflow: hidden !important;
}
.blink {
    animation: blink 1.5s ease-in infinite;
}
.animated-wrap {
    max-height: 100%;
    transition: max-height .5s;
}
.animated-wrap.hidden {
    max-height: 0;
}
img.driving {
    display: inline-block;
    max-width: 250px;
}
h4 {
    font-family: Fruktur, Pacifico, "Kumar One Outline", "Roboto Slab", cursive;
    font-size: 1.7rem;
    letter-spacing: 2px;
}
h1 {
    font-family: Fruktur, Pacifico, "Kumar One Outline", "Roboto Slab", cursive;
    font-size: 3rem;
    letter-spacing: 3px;
}
h3 {
    font-family: "Roboto Slab", cursive;
    letter-spacing: 1px;
}
.game-container {
    font-family: "Roboto Slab", cursive;
}
#game-wrap {
    display: none;
}
.current-word {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.current-word div.letter {
    min-width: 35px;
    min-height: 45px;
    margin: 5px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 1.7em;
    font-family: "Roboto Slab", cursive;
    border-radius: 3px;
    background: transparent;
    color: #E87363;
    position: relative;
}
.current-word div:after {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #E87363;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
}
.current-word div.letter.space {
    min-width: 10px;
}
.current-word div.letter.space:after {
    display: none;
}
.need-hint {
    display: none;
    font-size: 1.2em;
}
.need-hint a {
    color: inherit;
}
.need-hint .the-hint {
    display: none;
}
.game-stats {
    font-size: 1.2em;
}
.game-status {
    display: inline-block;
    margin: 0 20px;
}
.win-count, .loss-count, .remaining-guesses {
    display: inline-block;
    min-width: 30px;
    padding: 0 5px;
    text-align: center;
    border-bottom: 1px solid #E87363;
    border-radius: 3px;
}
.available-letters {
    margin: 50px auto 15px auto;
    padding: 2em 20px 1.6em 20px;
    background-color: rgba(255, 255, 255, .35);
    border-radius: 5px;
    border: 1px solid #E87363;
    max-width: 600px;
    position: relative;
}
.available-letters .header {
    margin-top: -16px;
    margin-left: -100px;
    width: 200px;
    padding: 4px 10px 5px 10px;
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 50px;
    border: 1px solid #E87363;
    background-color: #fff;
}
.letter-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 550px;
    margin: auto;
    padding: 0;
    list-style: none;
    text-align: center;
}
.letter-display div {
    min-width: 30px;
    height: 30px;
    margin: 5px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: "Roboto Slab", cursive;
    border-radius: 3px;
    background: #E87363;
    color: #fff;
    cursor: pointer;
}
.letter-display .guessed {
    line-height: 28px;
    background-color: transparent;
    border: 1px solid #E87363;
    color: #E87363;
}
.win-lose.animated {
  animation-iteration-count: infinite;
}
